<h1>Phonebook listings with the updated information:</h1>

<%db_return.each do |item|%>
	<%= item %><br>
<% end %>

<form method="post" action='final_result'>
<h3>Please select "Return" to input another entry:</h3>
	<input type='submit' value="Return">
</form>
