<h1>Please add an entry to be listed in the phonebook:</h1>

<form method="post" action="input_info">
    <input type="text" name="data[]" placeholder="FirstName" required>
    <input type="text" name="data[]" placeholder="LastName" required><br>
    <input type="text" name="data[]" placeholder="Street" required>
    <input type="text" name="data[]" placeholder="City" required><br>
    <input type="text" name="data[]" placeholder="State" required>
    <input type="text" name="data[]" placeholder="Zip" minlength="5" maxlength="5" required><br>
<br>(Continental US Numbers Only)</br>
    <input type="text" name="data[]" placeholder="Phone" minlength="10" maxlength="10" required><br>
<br><input type="text" name="data[]" placeholder="Email" required>

<h2>Select "Next" to view the phonebook with your listing being included:</h2>
<h4>(Your information will be cleared on this page after selecting "Next" if your information is already in the phonebook.<br> Then you may add a different entry if needed.)</h4>
    <input type="submit" value="Next">
</form>
