<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" href= "css/style.css">
</head>
<body>
	<header>
		<ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="https://www.reddit.com/r/NewsOfTheStupid/">News</a></li>
		  <li><a href="/final_results">list of numbers</a></li>
		</ul>
	</header>
	<%= yield %>
